{% extends 'basic.html' %}

{% block title %}contact{% endblock title %}

{% block body %}

<body style="background-color:#DEDDDD; margin:10px;">
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title" align="center" style="font-family:Times New Roman">
                    <h1>About Us</h1>
                </div>
                <div class="content>" style="font-family:Times New Roman">
                    <h3>Bakers Gallery</h3>
                    <br>
<pre><p>            Engineers usually design or build things. Some engineers also use their skills to solve technical problems.
    There are different types of engineers that design everything from computers and buildings to watches and websites.
    People have been engineering things for thousands of years.</p></pre>
                    <hr>
                    <p><pre>        This is our third year mini-project topic. In this we created a website from which bakers can sell their bakery items online.
Not only the people's who have bakery can sell their product but as well as house wives who need to sell their product online also s-
ell their bakery products.</p></pre>
                    <hr>
                    <h2>   Team Mentor   </h2>
                    <div class="row">
                        <div class="col-sm-3">
                        <div class="card">
                            <img src="static/About us/kathavate.jpg" alt="Girl in a jacket" width="253" height="200">
                          <div class="card-body">
                            <h5 class="card-title">Mr. P.N.Kathavate</h5>
                            <p class="card-text">Assistant Professor <br> Walchand Institute of Techonology</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>

                    <h4 align="center">Our Team Members</h4>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="card">
                            <img src="static/About us/kiran.jpg" alt="Girl in a jacket" width="253" height="200">
                          <div class="card-body">
                            <h5 class="card-title">Kiran Chavan</h5>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="card">
                            <img src="static/About us/aditya.jpg" alt="Girl in a jacket" width="253" height="200">
                          <div class="card-body">
                            <h5 class="card-title">Aditya Bargaje</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="card">
                            <img src="static/About us/sankalp.jpg" alt="Girl in a jacket" width="253" height="200">
                          <div class="card-body">
                            <h5 class="card-title">Sankalp Mahajan</h5>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="card">
                            <img src="static/About us/shubh.jpg" alt="Girl in a jacket" width="253" height="200">
                          <div class="card-body">
                            <h5 class="card-title">Shubham Tandale</h5>

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
</div>
            </div>
        </div>
<br>
<br>
</body>


{% endblock body %}
