{% extends 'basic.html' %}
{% load static %}
{% block title %}confirm{% endblock title %}

{% block body %}

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>

<div class="card" style="height:300px; width:300px; margin:30px auto;">
  <img src="{% static 'static/confirm/confirm.jpg' %}" alt="Confirm" style="width:100%">
  <div class="container" style="text-align:center;">
    <h4><b>Order Confirm !!!</b></h4>
  </div>
</div>

{% endblock %}



